{# templates/page/index.html.twig #}
{% extends 'page/base.html.twig' %}

{% block content %}
	<div class="px-md-5" style="background: #cac1c1">
		<div class="px-md-5 row" style="background: white; box-shadow: 0px 0px 10px 10px #aaa1a1">
			<div class="pt-5 col-md-12 col-nopadding"><h1 style="text-align: center;margin-bottom: 30px">Qui sommes-nous ?</h1></div>
			<div class="col-md-3 d-flex justify-content-center mb-5">
						<img src="{{ asset('images/isaac-buste.jpg') }}" width="200px" style="border-radius: 50%; box-shadow: 2px 2px 4px 1px black;">
			</div>
			<div class="col-md-9">
				<h2 class="py-md-3">L’histoire du fondateur</h2>
				<blockquote class="blockquote" style="font-size: 1rem">
					<p>“Après être sorti l’école 42 en 2016, formation novatrice mettant un point d’honneur sur une pratique impeccable, j’ai travaillé dans le milieu de l'apprentissage en ligne en créant une multitude de formation e-learning sous forme de jeux vidéo et de plateforme éducative. Puis en 2017 j’ai rejoint une startup à Paris spécialisée dans une technologie géolocalisée de rentabilité. C’est en 2020, que ma vision se tourne vers l’Afrique, celle-ci semble se tourner de plus en plus vers le digital et approche d’une véritable révolution numérique, convaincu de cela je décide de monter un projet d’entreprise en Côte d’Ivoire pour faire de cette vision une réalité et de faire partie des nombreux acteurs du développement numérique en aidant cette transition.”</p>
					<footer class="blockquote-footer">Bakayoko Isaac fondateur de <cite style="color: #bb4400" title="Source Title">Web Access ci</cite></footer>
				</blockquote>
			</div>
			<div class="pt-5 col-md-8">
				<h2>La création de Web Access CI</h2>
				<p style="margin-bottom: 30px;">Web Access CI est une entreprise fondée par Bakayoko Isaac en 2021 qui accompagne tous ceux et celles qui souhaitent digitaliser leurs activités et leurs projets. Le but est d’accompagner le développement et le besoin du Numérique croissant en Côte d'Ivoire et plus généralement en Afrique de l’Ouest.</p>
				<h2>L'objectifs</h2>
				<p>Le but est de proposer le plus de solutions innovante aux acteurs ivoirien jusqu'a que celle-ci s'adapte et s'imprègne des challenges de l'Afrique afin que celle-ci puissent avoir une méthodologie qui lui est propre</p>
			</div>
			<div class="pt-md-5 col-md-3" style="text-align: right">
				<img src="https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_960_720.jpg" width="250px" height="250px" style="border-radius: 50%">
			</div>
			<div class="col-md-12 mb-5">
				<a class="btn btn-dark btn-cta" href="/offres.html" style="margin-top: 10px">
					Découvrir les offres disponibles
				</a>
			</div>
		</div>
	</div>
{% endblock %}