{# templates/page/index.html.twig #}
{% extends 'page/base.html.twig' %}

{% block content %}
	<div class="px-md-5" style="background: #cac1c1">
		<div class="px-md-5 row d-flex justify-content-center" style="background: white; box-shadow: 0px 0px 10px 10px #aaa1a1">
			<div>
				<h2>Votre demande a été prise en compte</h2>
				<div>
				</div>
				<p class="pt-5">nous vous recontacterons prochainement pour discuter de votre projet</p>
			</div>
		</div>
	</div>
{% endblock %}