{# templates/page/index.html.twig #}
{% extends 'page/base.html.twig' %}

{% block content %}
	<div class="px-md-5" style="background: #cac1c1">
		<div class="p-md-5" style="background: white; box-shadow: 0px 0px 10px 10px #aaa1a1">
			<div class="col-md-12"><h1 class="pb-3" style="text-align: center;">Nous contacter</h1></div>
			<div class="row">
				<div class="col-md-5">
					<p>Web Access CI</p>
					<p>Quartier de la Djorogobité 1 Star 14 Angre 9eme Abidjan</p>
					<p>+2250584060850</p>
				</div>
				<div class="col-md-5">
					{{ form(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}