{# templates/page/index.html.twig #}
{% extends 'page/base.html.twig' %}

{% block content %}
	<div class="px-md-5" style="background: #cac1c1">
		<div class="px-md-5" style="background: white; box-shadow: 0px 0px 10px 10px #aaa1a1;padding-bottom: 30px;padding-top: 60px">
			<h1 style="text-align: center;padding-bottom: 20px">Découvrez nos offres sur mesure</h1>
			<h2>Développer votre présence en ligne</h2>
			<p>Besoin de vous positionner à moindre coût ?</p>
			<p>Accéder à un service d'ajout et configuration de page sur les services en ligne les plus populaires, Facebook, Whatsapp, Linkedin, Google maps. Vous apparaîtrez sur la carte des personnes à proximités et ainsi que dans les listes de recherche de la ville de votre domaine d'activité. C'est d'ici que vous pourrez construire vos actions de marketing social.</p>
			<br>
			<h2>Landing page</h2>
			<p>Une page html toute prête que vous pourrez utiliser pour obtenir des leads qualifiés pour développer efficacement le chiffre d'affaires de votre entreprise. Concrètement, il s'agit de capter l'attention de vos cibles, de stimuler leur intérêt pour les inciter à démarrer une action sur votre site comme communiquer avec votre équipe ou choisir une liste de produit.</p>
			<br>
			<h2>Site web</h2>
			<p>Possédez votre propre site web dconstruit à votre image, il permettra de vous positionner comme une référence dans votre secteur d'activité et d'attirer beaucoup plus de visiteur. Proposer du contenu qualitatif aux visiteurs de votre site internet permet d'instaurer une relation de confiance, d'avoir une véritable présence sur le net et de vous positionner comme un expert dans votre domaine.</p>
			<p>C'est le point d'ancrage de votre transformation digitale</p>
			<br>
			<h2>Solutions elarning</h2>
			<p>Le monde du E-learning façonne l'apprentissage de demain, webaccess ci propose de dynamiser vos formations !
			Vos apprenant auront alors plus de flexibilité, une parfaite autonomie et se sentiront acteur de leur propre formation.</p>
			<br>
			<a class="btn btn-dark btn-cta col-4 offset-4" href="{{ path('contact') }}" style="width: 33.3333%">
				Contactez-nous pour définir les objectifs de votre projet et établir votre solution.
			</a>
		</div>
	</div>
{% endblock %}