{# templates/page/index.html.twig #}
{% extends 'page/base.html.twig' %}

{% block content %}
	<div class="px-md-5" style="background: #cac1c1">
		<div class="px-md-5" style="background: white; box-shadow: 0px 0px 10px 10px #aaa1a1">
			<h1>Découvrez nos offres sur mesure</h1>
			<h2>Réferencement géolocaliser google maps</h2>
			<p>Besoin de vous positionner en ligne à moindre coût ?</p>
			<p>acceder à un service d'ajout et configuration de page google maps. Vous apparaitrez sur la carte des personnes à proximités et ainsi que dans les liste de recherche de la ville de votre domaine d'activité.</p>
			<h2>Landing page</h2>
			<p>Obtenez une page html toute prète que vous pourez utiliser pour redirigez l'audience ciblé de vos publicités en ligne</p>
			<h2>Site web</h2>
			<p>Possedez votre propre site web designé à votre image pour acquerir une veritable presence sur le net et reussir votre transformation digitale</p>
			<h2>Solutions elarning</h2>
			<p>Les solutions</p>
		</div>
	</div>
{% endblock %}